Desktop.ini
.DS_Store
.fleet
.idea
*.iml
*.ipr
*.iws

# Generated agent guidelines.
.roo
AGENTS.md
CLAUDE.md
QWEN.md

# Generated Git commit message.
.commit.md
.message.md

# Environment variable and database migration.
.migrate
.env

# Node.
node_modules
out

# Next.
.vercel
.next
build
next-env.d.ts
next-css.d.ts
tsconfig.tsbuildinfo

# Storybook.
*storybook.log
storybook-static
