Desktop.ini
.DS_Store
.fleet
.idea
*.iml
*.ipr
*.iws

# Environment variable and database migration.
.migrate
.env

# Node & next.
node_modules
.vercel
.next
build
out
next-env.d.ts
next-scss.d.ts
tsconfig.tsbuildinfo

# Rust.
target
