@mixin light-theme {
  --foreground: #2c2f30;
  --background: white;
}

@mixin dark-theme {
  --foreground: #cac9c4;
  --background: #1d1f20;
}

html,
html[data-theme="system"] {
  background-color: var(--background);
  color: var(--foreground);

  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }
}

html[data-theme="light"] {
  @include light-theme;
}

html[data-theme="dark"] {
  @include dark-theme;
}
