@use "./theme.scss" as theme;

// Adaptive themes apply.
html {
  & {
    background-color: var(--background);
    color: var(--foreground);
  }

  &,
  &[data-theme="system"] {
    @media (prefers-color-scheme: light) {
      @include theme.light-theme;
    }

    @media (prefers-color-scheme: dark) {
      @include theme.dark-theme;
    }
  }

  &[data-theme="light"] {
    @include theme.light-theme;
  }

  &[data-theme="dark"] {
    @include theme.dark-theme;
  }
}

body {
  // Ensure root size.
  margin: 0;
  height: 100vh;
  overflow: hidden;
  user-select: none;

  font-family: sans-serif;
}
